@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.cust-bg{
    background-color: #000000;
    transition: background-color 0.5s;
}

.cust-nv-bg{
    background: transparent;
}
#logo{
    transition: transform 0.5s;
}
/* #logo:hover{
    transform: rotate(360deg);
} */
.cust-nv-bg a{
    color: white;
}

article h1{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: -50px;
}

article span{
    font-size: 8rem;
    font-weight: 900;
}

.slect-cans img{

}
.img-up{
    cursor: pointer;
    margin-top: 0px;
    transition: margin-top 0.5s;
    transform: rotate(15deg);
}
.img-up:hover{
    margin-top: -50px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    article{
        margin-top: 50px;
    }
    article h1{
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: -30px;
    }
    
    article span{
        font-size: 6rem;
        font-weight: 900;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}